.hero-card__big {
  padding-top: 50px;
  margin-bottom: 60px;
}

@media screen and (min-width: 648px) {
  .hero-card__big {
    margin-bottom: 55px;
    padding-top: 70px;
  }
}

@media screen and (min-width: 960px) {
  .hero-card__big {
    flex-direction: row;
  }
}

.hero-description {
  width: 48%;
}

@media screen and (min-width: 960px) {
  .hero-description {
    width: 35%;
  }
}

.card-img__big {
  width: 35%;
  transform: rotate(-15deg) translateX(15px);
}

@media screen and (min-width: 648px) {
  .card-img__big {
    width: 33%;
    transform: rotate(-20deg) translateX(45px);
  }
}

@media screen and (min-width: 960px) {
  .card-img__big {
    width: 33%;
    margin-bottom: 0;
    transform: rotate(-23deg) translateX(100px);
  }
}
