.error {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 20px;
  }

  .title-error {
    width: 100%;
    margin-bottom: 30px;
    font-size: 30px;
    text-align: center;
    color: #2a221e;
    opacity: 0.8;
  }
